*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     /* outline: 1px solid red;  */
}
body{
    /* background-color: black; */
    font-family: "PP Neue Montreal", sans-serif;
    /* font-family: "DM Mono", sans-serif; part3 */
    
}
.intro h1
{
    color: white;
    font-size: 5vw;
    font-weight: 500;
    user-select: none;
}

p{
    text-transform: uppercase;
    text-align: center;
    font-family: "Akkurat Mono", monospace;
    font-weight: 600;
    user-select: none;
}

/* .outro p{
    flex:1;
    color: white;
} */
.intro {
    background-color: #141414;
    
}

section{
   position: relative;
   width: 100vw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.trail-container{
    background-color: #fcfcfc;
}

.trail-img{
    position: absolute;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius:16px;
    transform-origin: center;
    pointer-events: none;
    will-change: transform;
}

/* part2 */
/* @import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap"); */

img{
    width: 100%;
    height:100%;
    object-fit: cover;
    will-change: transform;
    /* overflow: hidden   ; */
}

/* h1{
    font-size: 4rem;
    line-height: 1.1;
    

} */
.banner{
    position: relative;
    width: 100vw;
    height: 100svh;
    background-color: #e3e3db;
    color: #141414;
    overflow: hidden;
    font-family: "Instrument serif", sans-serif;
    font-size: 3rem;
} 
.hero, 
.outro2{
display: flex;
justify-content: center;
align-items: center;
    background-color: #141414;
}

.hero h1, .outro2 h1{
    width: 50%;
    text-align: center;
    color: #e3e3db;
    font-family: "Instrument serif", sans-serif;
    font-size: 3rem;
    line-height: 1.1; 

}

.banner-img-container{
    position: relative;
    width: 100%;
    height: 100%;
    will-change: transform;
}
.banner-img-container .img{
    position: relative;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    will-change: transform;
}


.banner-img-container .img-mask {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 

    -webkit-mask-image: url("./assets/img36-mask.png");
    mask-image: url("./assets/img36-mask.png");

    -webkit-mask-size: cover;
    mask-size: cover;

    -webkit-mask-position: center;
    mask-position: center;

}


.banner-header{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 75%;
    text-align: center;
    color: whitesmoke;  
    /* user-select: none; */
    z-index:2;
}

.banner-intro-text-container{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    display: flex;
    gap: 0.1rem;
    z-index: 10;
}
.banner-intro-text{
    flex:1;
    position:relative;
    will-change: transform;
}
/* .banner-intro-text:nth-child(1){
    display: flex;
    justify-content: flex-end;
} */
/* .banner-img-container .img-mask:nth-child(1) {
  transform: translateY(0px) scale(1.2);
  z-index: 1;
}

.banner-img-container .img-mask:nth-child(2) {
  transform: translateY(0px) scale(.99);
  z-index: 2;
}

.banner-img-container .img-mask:nth-child(3) {
  transform: translateY(0px) scale(0.98);
  z-index: 3;
}
.banner-img-container .img-mask:nth-child(4) {
  transform: translateY(0px) scale(0.97);
  z-index: 4;
}

.banner-img-container .img-mask:nth-child(5) {
  transform: translateY(0px) scale(0.96);
  z-index: 5;
}
.banner-img-container .img-mask:nth-child(6) {
  transform: translateY(0px) scale(0.95);
  z-index: 6;
}
.banner-img-container .img-mask:nth-child(7) {
  transform: translateY(0px) scale(0.94);
  z-index: 7;
}

.banner-img-container .img-mask:nth-child(8) {
  transform: translateY(0px) scale(0.93);
  z-index: 8;
}
.banner-img-container .img-mask:nth-child(9) {
  transform: translateY(0px) scale(0.92);
  z-index: 9;
} */
/* .banner-img-container .img-mask:nth-child(3) {
  transform: translateY(10px) scale(0.7);
  z-index: 1;
} */


@media (max-width: 1000px){
    .hero h1, .outro2 h1, .banner-header  {
        width: calc(100% -4rem);
    }
   .banner-intro-text h1{
    font-size: 2rem;
   }
   .banner-header h1{
    font-size: 4rem;
   }
}
/* part3 */
.logo img, .client-logo img,.hero-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.outro3 h1, .header3 h1{
    font-family: "Host Grotesk", sans-serif ;
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.1 ;
}

.header3 p{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
}
a{
    text-decoration: none;
    text-transform:uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    color:#241910;
  
}

.btn{
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
}
.btn-primary{
        padding: 2%;
    background-color: transparent; 
    border: 2px solid #007bff;
    border-color: rgb(201, 194, 194);

}
.btn-primary a{ 
    color:#fefbf4; 

}
.btn-secondary{
    padding: 2%;
    background-color: #241910;
}
.btn-secondary a{
    color: #fefbf4;
}
nav{
    position: fixed;
    width: 100vw;
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    will-change: opacity;
    z-index: 2;
}

/* dic inside nav */

nav > div{
    flex: 1;
}
nav .nav-links {
    display: flex;
    gap: 3rem;
    
}
nav .nav-links a{
    color: rgb(201, 194, 194);
}
nav .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
nav .logo img{
width: 2rem;
}

nav .logo a{
    text-transform: none;
    font-family: "Host Grotesk" ;
    font-size:1.5rem;
}

nav .nav-buttons{
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
   
}

/* section */
section {
    position: relative;
    width: 100vw;
    height: 100svh;
    overflow: hidden;
}
.outro3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    background-color: #fefbf4;
    color: #241910;
   
}

canvas{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

hero-content{
    position: absolute;
    top:25%;
    left:50%;
    transform: translateX(-50%);
    transform-style: preserve-3d;
    perspective: 1000px;
    padding: 0.5rem 0;
}

.header3{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    display: flex;
    flex-direction: column ;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    color: #241910;
    transform-origin: center;
    will-change: transform, opacity;

}
.header3 h1{
    width: 50%;
    margin-bottom: 0.5rem;
}
.header3 p{
    opacity: 0.65;
}
.client-logos{
    width:30%;
    display: flex;
    gap: 0.5rem;
}

.client-logos .client-logo{
    flex:1;
    /* filter: grayscale(100%);
    opacity: 0.5;
    transition: all 0.3s ease-out; */
}
.client-logos .client-logo img{
    object-fit: contain;
}
.hero-img-container{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.hero-img{
   position: relative;
   width: 100%;
    height: 100%;
    transform: translateZ(1000px);
    opacity: 0;
    will-change: transform, opacity;
}

@media (max-width: 1000px){
/* @media alada kore likhte hoy, 2 3ta section eksathe na  */
 .outro3 h1, .header3 h1{
        font-size: 2rem;
    }
    nav .nav-links,nav .nav-buttons{
        display: none;
        /* width: calc(100% -1rem); */
    }
     .client-logos,  .hero-img-container{
        width: calc(100% -4rem);
    }
}

.p-end{
    background-color: #5f5f5f;
    color: black;
     position: relative;
    width: 100vw;
    overflow: hidden;
    text-align: center;
    font-family: "Akkurat Mono", monospace; 
}

 footer {
      background: #141414;
      color: #ddd;
      text-align: center;
      padding: 20px 10px;
      
       position: relative;
        width:100vw;
        overflow: hidden;
    }

    footer .links {
      margin: 10px 0;
    }

    footer .links a {
      color: #ddd;
      text-decoration: none;
      margin: 0 10px;
      transition: color 0.3s;
    }

    footer .links a:hover {
      color: #00c4b4;
    }

    footer p {
      margin: 8px 0 0;
      font-size: 14px;
      color: #aaa;
    }
.intro4 h1, .header-1 h1, .header-2 h1, .outro4 h1 
    {
            font-size: 4rem;
            font-weight: 500;
            line-height: 1;
            
    }
    h2{
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.125;
        letter-spacing: -0.03rem;
    }
    .description p{
        font-size: 1.1rem;
        font-weight:500;
        line-height: 1.5;
    }
     .intro4, .product-overview, .outro4
   {
        position: relative;
        width:100vw;
        height: 100svh;
        background-color: #e0dfdf;
        color: #0d0d0d;
        overflow: hidden;
    }

    .intro4, .outro4{
        display:flex;
        justify-content: center;
        align-items:center;
        background-color: #0d0d0d;
        color: #e0dfdf;
        padding: 2rem;
        
    }
    .outro4 img{
        height: 4rem;
        width: 4rem;
        margin-left: 20px;
    }
    .modal-container{
        position:absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height:100%;
        z-index:100

    }

    .header-1{
    position: relative;
    width:200vw;
    height:100svh;
    transform: translateX(0%);
    }
    .header-2{
        position: fixed;
        top:0;
        left:0;
        width:150vw;
        height: 100svh;
        color: #e0dfdf;
        transform: translateX(100%);
        z-index: 2;
    }

    .header-1, .header-2{
        display: flex;
        align-items:center;
        padding: 0 2rem;
    }

    .header-1 h1, .header-2 h1{
        width: 100%;
        font-size: 15vw;
        line-height: 1.25;
        letter-spacing:-0.02em;
    }

    .circular-mask{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-color: #0d0d0d;
        clip-path: circle(0% at 50% 50%);
    }
    .tooltips{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        width: 75%;
        height:75%;
        display:flex;
        gap: 15rem;
    }
    .tooltip{
        flex:1;
        display:flex;
        flex-direction:column;
        gap:0.5rem;
        color: #e0dfdf;
    }

    .tooltip:nth-child(2){
        justify-content: flex-end;
        align-items: flex-end;
    }

    .tooltip .divider{
        position:relative;
        width: 100%;
        height: 1px;
        background-color: #5f5f5f;
        margin: 0.5rem 0;
        transform: scaleX(0);
    }

    .tooltip:nth-child(1).divider{
        transform-origin:right center;
    }.tooltip:nth-child(2).divider{
        transform-origin:left center;
    }
    .tooltip .icon{
        font-size: 2.5rem;
        overflow: hidden;
    }
    .tooltip .description{
        color: #5f5f5f;
    }
    .tooltip:nth-child(2) .icon,
    .tooltip:nth-child(2) .title,
    .tooltip .description{
        width: 70%;
    }

    .header-1 h1 .char,
    .tooltip .title .line,
    .tooltip .description .line{
        display:inline-block;
        overflow: hidden;
    }

    .header-1 h1 .char > span,
    .tooltip .icon ion-icon,
    .tooltip .title .line > span,
    .tooltip .description .line > span{
        position: relative;
        display: block;
        transform: translateY(100%);
        will-change: transform;
    }

    @media (max-width: 1000px) {
  .intro4 h1, .header-1 h1, .header-2 h1, .outro4 h1  {
    text-align: center;
    font-size: 2rem;
  }

  h2
  .tooltip .icon {
    font-size: 1.5rem;
  }
  .description p{
    font-size: 0.8rem;
  }


.tooltips {
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.tooltip {
  width: 85%;
}

.tooltip:nth-child(2) {
  justify-content: flex-start;
  align-items: flex-start;
}

.tooltip .divider {
  width: 70%;
}

.tooltip:nth-child(2) .divider {
  transform-origin: right center;
}

.tooltip:nth-child(2) .icon,
.tooltip:nth-child(2) .title {
  width: 100%;
}}

