

:root {
    --bg: #171717;
    --fg: #fff;
    --menu-bg: #0f0f0f;
    --menu-fg-secondary: #5f5f5f;
    --hamburger-icon-border: #fff
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: "PP Neue Montreal",sans-serif
}

.menu-media-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

p {
    font-size: .95rem;
    font-weight: 500
}

.menu-link a {
    text-decoration: none;
    color: var(--fg);
    font-size: 3.5rem;
    font-weight: 500
}

.menu-tag a {
    text-decoration: none;
    color: var(--fg);
    font-size: 2rem;
    font-weight: 500
}

.menu-bar {
    position: absolute;
    top: -14%;
    padding: 2rem;
    display: flex;
    align-items: center;
    pointer-events: all;
    color: var(--menu-fg-secondary);
    z-index: 2
}

.menu-logo {
    width: 2rem;
    height: 2rem
}

.menu-toggle-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer
}

.menu-toggle-label {
    overflow: hidden
}

.menu-toggle-label p {
    position: relative;
    transform: translateY(0%);
    will-change: transform
}

.menu-hamburger-icon {
    position: relative;
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--hamburger-icon-border);
    border-radius: 100%
}

.menu-hamburger-icon span {
    width: 15px;
    height: 1.25px;
    background-color: var(--fg);
    transition: all 0.75s cubic-bezier(.87,0,.13,1);
    transform-origin: center;
    will-change: transform
}

.menu-hamburger-icon span:nth-child(1) {
    transform: translateY(-3px)
}

.menu-hamburger-icon span:nth-child(2) {
    transform: translateY(3px)
}

.menu-hamburger-icon.active span:nth-child(1) {
    transform: translateY(0) rotate(45deg) scaleX(1.05)
}

.menu-hamburger-icon.active span:nth-child(2) {
    transform: translateY(0) rotate(-45deg) scaleX(1.05)
}

.menu-overlay,.menu-overlay-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--fg);
    overflow: hidden;
    z-index: 1
}

.menu-overlay {
    background-color: var(--menu-bg);
    clip-path: polygon(0% 0%,100% 0%,100% 0%,0% 0%);
    will-change: clip-path
}

.menu-overlay-content {
    display: flex;
    will-change: transform;
    pointer-events: all
}

.menu-media-wrapper {
    flex: 2;
    will-change: opacity
}

.menu-media-wrapper img {
    opacity: .75
}

.menu-content-wrapper {
    flex: 3;
    position: relative;
    display: flex
}

.menu-content-main {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.menu-content-main {
    width: 75%;
    padding: 2rem;
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    position: relative
}

.menu-footer {
    width: 10%;
    padding: 2rem;
    margin-left: 50vw;
    margin-top: auto;
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    position: relative;
    font-family: Arial,Helvetica,sans-serif;
    font-size: larger;
    color: pink
}

.menu-col {
    display: flex;
    flex-direction: column;
    gap: .5rem
}

.menu-col:nth-child(1) {
    flex: 3
}

.menu-col:nth-child(2) {
    flex: 2
}

.menu link a {
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.2
}

.menu-tag a {
    color: var(--menu-fg-secondary)
}

.line {
    position: relative;
    will-change: transform
}

@media (max-width: 1000px) {
    h1 {
        font-size:3rem;
        letter-spacing: -.05rem
    }

    section h1 {
        width: 100%
    }

    .menu-media-wrapper,.menu-footer {
        display: none
    }

    .menu-content-main {
        width: 100%
    }

    .menu-content-main {
        top: 50%;
        flex-direction: column;
        align-items: flex-start;
        gap: 5rem
    }

    .menu-link a {
        font-size: 3rem
    }

    .menu-tag a {
        font-size: 1.25rem
    }
    .logo a{
        color: #8e2626;;
    }
    .menu-hamburger-icon{
            border: 1.5px solid #8e2626;

    }
    .menu-hamburger-icon span{
        background-color: #8e2626;
    }
}

.intro {
    background-color: #141414
}

.intro h1 {
    color: #fff;
    font-size: 4vw;
    font-weight: 500;
    user-select: none;
    font-family: "Host Grotesk",sans-serif
}

p {
    text-transform: uppercase;
    text-align: center;
    font-family: "Akkurat Mono",monospace;
    font-weight: 600;
    user-select: none
}

section {
    position: relative;
    width: 100vw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.trail-container {
    background-color: #fcfcfc;
      /* font-family: Arial, Helvetica, sans-serif; */
      position: relative;
    width: 100vw;
    overflow: hidden;
    text-align: center;
    font-family: "Akkurat Mono",monospace;
    
}

.trail-img {
    position: absolute;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 16px;
    transform-origin: center;
    pointer-events: none;
    will-change: transform
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: transform
}

.banner {
    position: relative;
    width: 100vw;
    height: 100svh;
    background-color: #e3e3db;
    color: #141414;
    overflow: hidden;
    font-family: "Instrument serif",sans-serif;
    font-size: 3rem
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141414
}

.outro2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141414;
    margin-top: -1px
}

.hero h1,.outro2 h1 {
    width: 50%;
    text-align: center;
    color: #e3e3db;
    font-family: "Instrument serif",sans-serif;
    font-size: 3rem;
    line-height: 1.1
}

.banner-img-container {
    position: relative;
    width: 100%;
    height: 100%;
    will-change: transform
}

.banner-img-container .img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    will-change: transform
}

.banner-img-container .img-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-mask-image: url(img36-mask.png);
    mask-image: url(img36-mask.png);
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-position: center;
    mask-position: center
}

.banner-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 75%;
    text-align: center;
    color: whitesmoke;
    z-index: 2
}

.banner-intro-text-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: .1rem;
    z-index: 10
}

.banner-intro-text {
    flex: 1;
    position: relative;
    will-change: transform
}

@media (max-width: 1000px) {
    .hero h1,.outro2 h1,.banner-header {
        width:calc(100% -4rem)
    }

    .banner-intro-text h1 {
        font-size: 2rem
    }

    .banner-header h1 {
        font-size: 4rem
    }

    .logo a {
        position: fixed;
        margin-top: 10%;
        font-size: .3rem
    }

    .logo img {
        position: absolute;
        margin-left: 150%;
        margin-right: auto;
        flex-direction: flex;
        justify-content: right
    }
}

.logo img,.client-logo img,.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.outro3 h1,.header3 h1 {
    font-family: "Host Grotesk",sans-serif;
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.1
}

.header3 p {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 500;
    color: #241910
}

.btn {
    padding: .75rem 1.5rem;
    border-radius: .25rem
}

.btn-primary {
    padding: 2%;
    background-color: #fff0;
    border: 2px solid #007bff;
    border-color: #c9c2c2;
    margin-right: 25%
}

.btn-primary a {
    color: #fefbf4
}

.btn-secondary {
    padding: 2%;
    background-color: #241910
}

.btn-secondary a {
    color: #fefbf4
}

nav {
    position: fixed;
    width: 100vw;
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    will-change: opacity;
    z-index: 2
}

nav>div {
    flex: 1
}

nav .nav-links {
    display: flex;
    gap: 3rem
}

nav .nav-links a {
    color: #c9c2c2
}

nav .logo {
    display: flex;
    justify-content: center;
    align-items: center
}

nav .logo img {
    width: 2rem
}

nav .logo a {
    text-transform: none;
    font-family: "Host Grotesk";
    font-size: 1.5rem
}

nav .nav-buttons {
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end
}

section {
    position: relative;
    width: 100vw;
    height: 100svh;
    overflow: hidden
}

.outro3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    background-color: #fefbf4;
    color: #241910
}

canvas {
    width: 100%;
    height: 100%;
    object-fit: cover
}

hero-content {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    transform-style: preserve-3d;
    perspective: 1000px;
    padding: .5rem 0
}

.header3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    color: #241910;
    transform-origin: center;
    will-change: transform,opacity
}

.header3 h1 {
    width: 50%;
    margin-bottom: .5rem
}

.header3 p {
    opacity: .65
}

.client-logos {
    width: 30%;
    display: flex;
    gap: .5rem
}

.client-logos .client-logo {
    flex: 1
}

.client-logos .client-logo img {
    object-fit: contain
}

.hero-img-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    transform-style: preserve-3d;
    perspective: 1000px
}

.hero-img {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateZ(1000px);
    opacity: 0;
    will-change: transform,opacity
}

.intro h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem
}

@media (max-width: 1000px) {
    .outro3 h1,.header3 h1,.intro h1 {
        font-size:2rem
    }

    nav .nav-links,nav .nav-buttons .btn-primary {
        display: none
    }

    .client-logos,.hero-img-container {
        width: calc(100% -4rem)
    }
}

.p-end {
    background-color: #5f5f5f;
    color: #000;
    position: relative;
    width: 100vw;
    overflow: hidden;
    text-align: center;
    font-family: "Akkurat Mono",monospace
}

footer {
    background: #141414;
    color: #ddd;
    text-align: center;
    padding: 20px 10px;
    position: relative;
    width: 100vw;
    overflow: hidden
}

footer .links {
    margin: 10px 0
}

footer .links a {
    color: #ddd;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s
}

footer .links a:hover {
    color: #00c4b4
}

footer p {
    margin: 8px 0 0;
    font-size: 14px;
    color: #aaa
}

.intro4 h1,.header-1 h1,.header-2 h1,.outro4 h1 {
    font-size: 4rem;
    font-weight: 500;
    line-height: 1
}

h2 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.125;
    letter-spacing: -.03rem
}

.description p {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5
}

.intro4,.product-overview,.outro4 {
    position: relative;
    width: 100vw;
    height: 100svh;
    background-color: #e0dfdf;
    color: #0d0d0d;
    overflow: hidden;
    font-family: "PP Neue Montreal",sans-serif
}

.intro4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0dfdf;
    color: #0d0d0d;
    padding: 2rem
}

.outro4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d0d0d;
    color: #e0dfdf;
    margin-top: -1px;
    padding: 2rem
}

.outro4 img {
    height: 4rem;
    width: 4rem;
    margin-left: 20px
}

.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    z-index: 100
}

.header-1 {
    position: relative;
    width: 200vw;
    height: 100svh;
    transform: translateX(0%)
}

.header-2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 150vw;
    height: 100svh;
    color: #e0dfdf;
    transform: translateX(100%);
    z-index: 2
}

.header-1,.header-2 {
    display: flex;
    align-items: center;
    padding: 0 2rem
}

.header-1 h1,.header-2 h1 {
    width: 100%;
    font-size: 15vw;
    line-height: 1.25;
    letter-spacing: -.02em
}

.circular-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0d0d0d;
    clip-path: circle(0% at 50% 50%)
}

.tooltips {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 75%;
    height: 75%;
    display: flex;
    gap: 15rem
}

.tooltip {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: #e0dfdf
}

.tooltip:nth-child(2) {
    justify-content: flex-end;
    align-items: flex-end
}

.tooltip .divider {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #5f5f5f;
    margin: .5rem 0;
    transform: scaleX(0)
}

.tooltip:nth-child(1).divider {
    transform-origin: right center
}

.tooltip:nth-child(2).divider {
    transform-origin: left center
}

.tooltip .icon {
    font-size: 2.5rem;
    overflow: hidden
}

.tooltip .description {
    color: #5f5f5f
}

.tooltip:nth-child(2) .icon,.tooltip:nth-child(2) .title,.tooltip .description {
    width: 70%
}

.header-1 h1 .char,.tooltip .title .line,.tooltip .description .line {
    display: inline-block;
    overflow: hidden
}

.header-1 h1 .char>span,.tooltip .icon ion-icon,.tooltip .title .line>span,.tooltip .description .line>span {
    position: relative;
    display: block;
    transform: translateY(100%);
    will-change: transform
}

@media (max-width: 1000px) {
    .intro4 h1,.header-1 h1,.header-2 h1,.outro4 h1 {
        text-align:center;
        font-size: 2rem
    }

    h2,.tooltip .icon {
        font-size: 1.5rem
    }

    .description p {
        font-size: .8rem
    }

    .modal-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        z-index: 100
    }

    .tooltips {
        width: 100%;
        align-items: center;
        flex-direction: column;
        gap: 2rem
    }

    .tooltip {
        width: 85%
    }

    .tooltip:nth-child(2) {
        justify-content: flex-start;
        align-items: flex-start
    }

    .tooltip .divider {
        width: 70%
    }

    .tooltip:nth-child(2) .divider {
        transform-origin: right center
    }

    .tooltip:nth-child(2) .icon,.tooltip:nth-child(2) .title {
        width: 100%
    }
}
